<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  font-size: larger;
}
</style>
</head>
<body>
<%- include ('partials/nav.ejs'); %>
<h1>My First CSS Example</h1>
<h2>This is a paragraph.</h2>
</body>
</html>
