<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: rgb(134, 136, 236);
}

h1 {
  color: white;
  text-align: center;
}

body {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  font-size: larger;
}
ul li {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  color: aliceblue;
}
h3 {
  text-transform: uppercase;
  color: aliceblue;
  letter-spacing: 2px;
}
</style>
</head>
<body>
  <%- include ('partials/nav.ejs'); %>
<h1>hello <%= person %></h1>
<h2>welcome</h2>
<h2> your information</h2>
<p>your age : <strong><%= data.age %></strong></p>
<p>you job : <strong style="color: white"><%= data.job %></strong></p>
<h3>Hobbies</h3>
<p><ul>
  <% data.hobbies.forEach(function(hobby){ %>

    <li><%- hobby %></li>

    <% }); %>
</ul></p>

</body>
</html>
